<template v-if="book">
    <router-link 
        class="back"
        to="/"
    >
        &lt; Back
    </router-link>
    <div class="book__details">
        <img 
            loading="lazy"
            src="../../../../assets/images/cover.jpg" 
            alt=""
            width="300"
            height="450"
        />
        <div>
            <h2>
                {{ book.title }}
            </h2>
            <p>
                {{ book.author }}
            </p>
            <p class="small">
                 Non eram nescius, Brute, cum, quae summis ingeniis exquisitaque doctrina philosophi Graeco sermone tractavissent, ea Latinis litteris mandaremus, fore ut hic noster labor in varias reprehensiones incurreret
            </p>
            <p class="small">
                ISBN: {{ book.isbn }}
            </p>
            <p>
                Price: <b>${{ book.price }}</b>
            </p>
            <button 
                v-if="book.availableStock > 0"
                class="button"
                v-on:click="purchaseBook"
            >
                Buy now
            </button>
            <button  
                v-else
                class="button"
                disabled
            >
                Out of stock
            </button>
            <p 
                v-if="5 >= book.availableStock && book.availableStock > 0"
                class="small warning"
            >
                Only {{ book.availableStock }} left in stock
            </p>
        </div>
    </div>
</template>
<p v-else>
    Loading...
</p>
