<div class="filter">
    <button
        aria-expanded="false"
        :aria-controls="id"
        @click="toggleFilter"
        class="button filter__button"
    >
        {{ name }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="chevron"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
    </button>
    <ul 
        :id="id" 
        hidden
        class="filter__options"
    >
        <li v-for="option in filter">
            <input 
                type="checkbox" 
                v-bind:id="option.id" 
                v-bind:value="option.id"
                v-model="option.checked"
            >
            <label class="small" v-bind:for="option.id">{{option.name}}</label><br>
        </li>
    </ul>
</div>
