html {
    overscroll-behavior: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-after);
}

.page {
    width: 100%;
    margin: 0 auto;
    max-width: var(--page-width);
    min-height: 100vh;
    background-color: var(--body-bg);
    box-shadow: 1px 1px 50px var(--body-bg);
}

header {
    width: 100%;
    margin-bottom: var(--global-margin);
    position: relative;
}

main {
    padding: 1em;

    @media all and (min-width: $med) {
        padding: var(--global-padding);
    }
}
