/*
    breakpoints - cannot be css variables
*/

$xs: 400px;
$sml: 600px;
$med: 900px;
$ml: 1000px;
$lge: 1150px;

:root {
    --page-width: 1300px;

    --global-padding: 1rem;
    --global-margin: 1rem;
}
