/*
    font file imports
*/
@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: thin;
    font-display: swap;
    src: url('/assets/fonts/fraunces-200-i.woff2') format('woff2');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: thin;
    font-display: swap;
    src: url('/assets/fonts/fraunces-200.woff2') format('woff2');
}

@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: semibold;
    font-display: swap;
    src: url('/assets/fonts/fraunces-600-i.woff2') format('woff2');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: semibold;
    font-display: swap;
    src: url('/assets/fonts/fraunces-600.woff2') format('woff2');
}

/*
    global font setup
*/
body {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 1rem;
    font-weight: 200;
    color: var(--body);
    letter-spacing: 0;
}

html {
    font-size: 18px;

    @media all and (min-width: $med) {
        font-size: 21px;
    }
}

/*
    headers
*/
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1, .h1 {
    font-size: 2rem;
    font-style: italic;

    @media all and (min-width: $sml) {
        font-size: 2.5rem;
    }

    @media all and (min-width: $med) {
        font-size: 2.75rem;
    }
}

h2, .h2 {
    font-size: 1.34rem;
}

h3, .h3 {
    font-size: 1.3rem;
}

h4, .h4 {
    font-size: 1.1rem;
}

h5, .h5 {
    font-size: 1rem;
}

p {
    margin: 0.5rem 0;
}

/*
    links
*/
a {
    color: var(--primary);
    text-decoration-thickness: from-font;
    font-weight: 600;

    &:hover,
    &:focus {
        background: var(--primary);
        color: var(--light-text);
    }
}

a.back {
    display: inline-block;
    margin-bottom: var(--global-margin);
}

/*
    global focus style
*/
*:focus {
    outline: 1px dashed color-mix(in srgb, var(--primary) 25%, transparent);
}

/*
    simple typographic elements
*/
small, .small {
    font-size: smaller;
}

p.warning {
    font-style: italic;
    color: var(--warning-hover);
}

li {
    margin: 0.5rem 0;
}

b {
    font-weight: 600;
}
