.bg {
    @extend %fixed-cover;
    z-index: -1;

    @media all and (min-width: $med) {
        background-image: var(--bg-img);
        background-size: cover;
        background-position: var(--bg-cover);
    }
}

.bg:before,
.bg:after {
    @extend %absolute-cover;
    content: '';
    
}

.bg:before {
    background: var(--bg-before);
    opacity: 0.7;
}

.bg:after {
    background: var(--bg-after);
    opacity: 0.97;
    animation: bg-opacity 20s infinite alternate;

    .theme-dark &,
    .theme-light & {
        opacity: 1;
        animation: none;
    }
}
