.book__details {
    @extend %flex-center;

    grid-gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    img {
        width: 100%;
        height: auto;

        @media all and (min-width: $xs) {
            width: 200px;
            height: 300px;
        }

        @media all and (min-width: $sml) {
            width: 300px;
            height: 450px;
        }
    }

    div {
        flex: 1;
    }
}
