header picture {
    width: 100%;
    height: 500px;
    max-height: 66vh;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--body);
        opacity: 0.75;
    }
}
