<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="../../assets/icons/favicon/favicon.ico" sizes="32x32">
        <link rel="icon" href="../../assets/icons/favicon/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="../../assets/icons/favicon/apple-touch-icon.png">
        <link rel="manifest" href="../../assets/icons/favicon/manifest.webmanifest">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="description" content="{{ meta }}">
        <meta name="generator" content="Eleventy">
        <title>{{ meta }}</title>

        {% include '../includes/critical/theme.njk' %}

        <script defer src="../../assets/js/bookStore.js"></script>

    </head>
    <body>

        <div class="bg"></div>

        <div class="page">
                
                {% include '../includes/header.njk' %}

                {% include '../includes/main.njk' %}

        </div>
    </body>
</html>