<header class="header">
    
    <picture>
        <img 
            srcset="
                https://edmill-circle.netlify.app/assets/images/bookstore-640.jpg 640w,
                https://edmill-circle.netlify.app/assets/images/bookstore-900.jpg 900w,
                https://edmill-circle.netlify.app/assets/images/bookstore-1500.jpg 1500w,
                https://edmill-circle.netlify.app/assets/images/bookstore-2048.jpg 2048w
            "
            src="https://edmill-circle.netlify.app/assets/images/bookstore-640.jpg"
            width="640"
            height="421"
            alt=""
        />
    </picture>

    <div class="page-title">
        <h1>
            The Bookseller
        </h1>
        <p>
            <i>
                21 Some Street, Erewhon
            </i>
        </p>
    </div>

</header>
