@import './site/site';

:root {
    /*
        Colours
    */
    --body-bg: #d2e5f1;
    --page-bg: #f4fbff;

    --body: #021620;

    --primary: #136a95;
    --primary-hover: #136a95;
    --primary-lighter: color-mix(in srgb, var(--primary) 5%, transparent);

    --light-text: var(--page-bg);

    --warning: #edb277;
    --warning-hover: #8a5c2f;

    --disabled: #ccc;
}
