@import './site/site';

:root {
    /*
        Colours
    */
    --body: #342e3b;
    --primary: var(--body);
    --primary-hover: #136a95;
    --body-inverted: #ebefef;
    --body-inverted-hover: var(--primary);
    --body-bg: #ebefef;
    --intro-text: var(--body-bg);
    --intro-hover: var(--body-inverted);
    --site-icon: var(--body-bg);
    --primary-lighter: color-mix(in srgb, var(--primary-hover) 5%, transparent);

    /*
        background image & gradients
    */
    --bg-img: url('/assets/images/seaweed.jpg');

    --bg-cover: center;
    --bg-before: linear-gradient(175deg, #f5f16c 0%, #342841 75%);
    --bg-after: linear-gradient(9deg, #000 0%, #342841 20%, #22c1c3 160%);
}

@keyframes bg-opacity {
    0% { opacity: 0.97; }
    20% { opacity: 0.9; }
    40% { opacity: 0.85; }
    60% { opacity: 0.95; }
    80% { opacity: 0.75; }
    100% { opacity: 0.85; }
}
