.theme-pink {
    /*
        Colours
    */
    --body: #340c2b;
    --primary: var(--body);
    --primary-hover: #be2d9C;
    --body-inverted: #faefed;
    --body-inverted-hover: #f5dac9;
    --body-bg: #faefed;
    --primary-lighter: color-mix(in srgb, var(--primary-hover) 3%, transparent);

    /*
        background image & gradients
    */
    --bg-img: url('/assets/images/lobsters-sm.jpg');
    --bg-cover: bottom;
    --bg-before: linear-gradient(356deg, #a14f1e 0%, #f07171 75%);
    --bg-after: linear-gradient(356deg, #d54ab5 0%, #e6a37b 50%, #e27fca 120%);
}

@keyframes bg-opacity {
    0% { opacity: 0.9; }
    40% { opacity: 0.85; }
    60% { opacity: 0.91; }
    80% { opacity: 0.75; }
    100% { opacity: 0.85; }
}
