@import './site/site';

:root {
    /*
        Colours
    */
    --body: #342e3b;
    --primary: var(--body);
    --primary-hover: #136a95;
    --body-inverted: #ebefef;
    --body-inverted-hover: var(--primary);
    --body-bg: #ebefef;
    --primary-lighter: color-mix(in srgb, var(--primary-hover) 5%, transparent);
}
