.theme-red {
    /*
        Colours
    */
    --body: #392727;
    --primary: var(--body);
    --primary-hover: #9e2237;
    --body-inverted: #f5e6e8;
    --body-inverted-hover: #f4cbd2;
    --body-bg: #f5e6e8;
    --primary-lighter: color-mix(in srgb, var(--primary-hover) 3%, transparent);

    /*
        background image & gradients
    */
    --bg-img: url('/assets/images/victim-crop.jpg');
    --bg-cover: center;
    --bg-before: linear-gradient(175deg, #e4f56a 0%, #84950a 75%);
    --bg-after: linear-gradient(9deg, #261a1a 0%, #9e2237 40%, #e798a3 100%);
}

@keyframes bg-opacity {
    0% { opacity: 0.97; }
    20% { opacity: 0.9; }
    40% { opacity: 0.85; }
    60% { opacity: 0.95; }
    80% { opacity: 0.7; }
    100% { opacity: 0.85; }
}
